@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&family=Raleway:wght@300;500&family=Roboto:ital,wght@0,500;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root{
    --colorbotones:#009970; /* Define una variable para el color de los botones */
    --colorenlaces:#7B9185; /* Define una variable para un color secundario */
    --color3:#89ACAB; /* Define una variable para un color terciario */
    --color4:#A9B9A9; /* Define una variable para un color cuaternario */
    --colorfondotexto:#F6EDF2; /* Define una variable para el color de fondo del texto */
    --colornegro:#000000;/* Define una variable para el color*/
    --Verificación:#FACF75; /* Define una variable para el color de verificación */
    --colorcool:#0cf7bc7c; /* Define una variable para un color fresco */
    --colortitulos:#8c2574; /* Define una variable para el color de los títulos */
    --colortextos: #777777; /* Define una variable para el color de los textos */
    --colorbotones123: #8c2574; /* Define una variable para el color de los botones */
    --colorfondo6:#A381F2; /* Define una variable para el color de fondo 6 */
    --paddingsecciones: 60px 0;    /* Define una variable para el padding de las secciones (60px arriba y abajo, 0 izquierda y derecha) */
    --marginelementos: 40px;   /* Define una variable para el margen de los elementos (espacio de 40px) */}

    body {
        text-shadow: none;
        background: linear-gradient(to right, #215449, #90B678);
    }
    
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*HEADER-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.iconos {
    padding-left: 20px; /* Ajusta la distancia de los iconos al borde de la página */
}

.iconos a {
    margin-right: 10px; /* Ajusta la separación entre los iconos */
    margin-left: 10px; /* Ajusta la separación entre los iconos */
}

.iconos i {
    font-size: 24px; /* Ajusta el tamaño de los iconos */
    font-weight: bold;
    transition: all .1s ease;
    color: #000;
}
.iconos i:hover{
    transform: scale(1.5); /* Agrandamiento de la imagen al pasar el ratón sobre ella */
}
/* Estilos para el botón de registro */
.boton-registro {
    background-color: var(--color3) !important; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    transition: all .2s ease;
}

/* Estilos para el botón de registro cuando pasas el cursor por encima */
.boton-registro:hover {
    background-color: var(--colorbotones) !important; /* Cambia el color de fondo al pasar el cursor por encima */
    transform: scale(1.1); /* Agrandamiento de la imagen al pasar el ratón sobre ella */
}

/* Estilos para el botón de registro cuando haces clic en él */
.boton-registro:active {
    transform: scale(0.98); /* Reduce el tamaño del botón */
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Contenido---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.breadcrumb {
    justify-content: center; /* Centra la migaja de pan */
}
.cartas{
   margin: 15px;
   padding-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-img-top:hover{
    cursor: pointer;

}
.card-title{
    text-decoration: underline;
}
.card{
    padding-bottom: 15px;
}
.card  button{
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 5px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
}
.card  button:hover{
    background-color: #9191bd;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0 , 0 , 0, .1);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Modal Video YOUTUBE-------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 50%;
    height: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    color: #009970;
    background-color: var(--colornegro);
}

div .integrantes {
    text-align: left;
}
.collapse i{
    color: var(--colorcool);

}

@media (max-width: 767px){
    .card-img-top {
        width: 100%;
        height: 35vw;
        object-fit: cover;
    }
    iframe{
        width: 70%;
        height: 60%;
    }
}


/*Icono de wsp*/
.icono-derecha-inferior {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    transition: transform 0.3s;
    /* Ajusta este valor para cambiar la velocidad del efecto */
}

.icono-derecha-inferior img {
    width: 150px;
    /* Ajusta este valor para cambiar el tamaño de la imagen */
    height: auto;
}

.icono-derecha-inferior:hover {
    transform: scale(1.6);
    /* Ajusta este valor para cambiar cuánto se agranda el icono */
}
#mensaje {
    display: none;
    position: absolute;
    bottom: 30%;
    right: 30%;
    transform: translate(-10px, -10px);
    padding: 10px;
    z-index: 101;
}